
/* Body Definition */
body {
	text-align: center;
	height:95%;
	min-height:95%;
	padding-top: 50px;
    padding-bottom: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Article Text left*/
.article {
	text-align: left; 
	justify-content: center;
}

.infos {
	margin-right: 7px;
}

.flex-row {
	display:flex;
}

.image {
	width: 100%;
	height: 100%;
}

.margin-top {
	margin-top: 9.5%;
}

.downloadICON {
	/*background-image: url(Pictures/Hanf.png);*/
	background-repeat: no-repeat;
	background-position: 0px 0px;  	/* equivalent to 'top left' */
    border: none;          			/* assuming we don't want any borders */
    cursor: pointer;       			/* make the cursor like hovering over an <a> element */
    height: 20px;           		/* make this the size of your image */
	vertical-align: middle;
}

/* Download Buttons*/
.downloadBTN {
	font-family: Arial ;
    font-size: 18px;
	margin: 10px 35px 10px 35px ;
}

.catlynBTN {
	min-width: 150px;
	font-family: Arial ;
    font-size: 18px;
	margin: 10px 15px 10px 15px ;
}

/* Footer Definition */
footer {
	position:fixed;
	bottom:0; 
	display:block; 
	width:100%; 
	overflow:hidden; 
	background:rgb(76,76,76); 
	color:#fff;
	justify-content: space-between; 
	display:flex;
}

.link {
	color:#fff;
	text-decoration: none;
}

.link:hover { 
	color:rgb(200,200,233); 
	text-decoration: none;
}

.link:visited {
	color:#fff;
	text-decoration: none;
}
	
.footer-text {
	display: flex; 
	justify-content: space-between;
	flex-direction:row; 
	align-items: center;
	gap: 5px; 
	font-size: large;
}

#selectedLanguage {
    margin-right: 10px;
}